
/* Daily */
.daily-home {
    display: flex;
    height: 87vh;
    width: 100%;
    background-color: #29292b;
  

}
.daily-home .daily-judul{
height: 87vh;
width: 83%;
overflow-y: scroll;
flex-wrap: wrap;
}
.daily-home .daily-judul .daily-lagu{
    display: flex;
    border: 1px solid #0000ba;
}
.daily-home .daily-judul .judul-img{
    height: 35vh;
    width: 35vh;
    margin: 2rem;
}
.daily-home .daily-judul .daily-music{ 
    width: 100%;
   background-color: #29292b;
   
   
}
.daily-home .daily-judul .daily-music li{
    display: flex;
    
    
}
.daily-home  li a{
    margin-top: 3rem;
    text-decoration: none;
   color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    cursor: pointer;
    
}
.daily-home .daily-judul .daily-music .daily-play{
    height: 70px;
    width: 70px;
    margin: 1.5rem;
}
.daily-home .daily-judul .daily-music  :hover{
    background-color: rgb(12, 14, 32);
    border-radius: 10px;
  
}
    

    