@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@300&display=swap');

/* Daily */

.daily{
    height: 100vh;
}
.daily-home {
    display: flex;
    height: 86.5vh;
    width: 100%;
    background-color: #29292b;
}
.daily-judul{
    display: block;
    width: 100%;
    overflow-y: scroll;

}
.daily-judul2{
    height: 40vh;
    display: flex;
    background: linear-gradient(#282851,#16162d);

}
.daily-foto{
    height: 30vh;
    width: 30vh;
    margin: 2rem;
    border: 1px solid #ffffff;
    border-radius: 10px;
}
.daily-judul2 h1{
    
    font-family: 'Montserrat', sans-serif;
    color: #f3f3f6;
    font-size: 70px;
    font-weight: 600;
    margin-top: 6rem;


}
.day-btn{
   border-radius: 50%;
   margin-top: 1rem;
    height: 60px;
    width: 60px;
    
    border: none;
    background-color: #b0b0cd;
    
}

.day-btn :hover {
    background-color: aquamarine;
}
.fi-btn{
    /* color: #181e56; */
    color: #0d0d0d;

    margin-left: 4px;
    margin-top: 2px;
}
.daily-span{
    color: #f3f3f6;
    margin-left: 0.8rem;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;

}
.judul-tabel{
    border: 1px solid #5f5d5d;
    /* background-color: #282851; */
    background-color: #282851;

    height: 100vh;
}
.daily-tabel{
    margin-top: 1rem;
    margin-left: 1rem;
    
}

.tr-daily{
    margin-bottom: 10px;
}
.tr-daily td{
    padding: 20px 75px 10px 0px;
    color: #f3f3f6;
    
}
.td-daily{
    display: flex;
}
.td-daily p{
    margin-top: 1rem;
}
.day-img{
    height: 50px;
    width: 50px;
    margin-left: 1rem;
    border-radius: 5px;
}
.fiplay{
    margin-top: 0.8rem;
    margin-left: 1rem;
}
.play-btn{
    background-color: transparent;
    border: none;
    color: #ffffff;
}


