@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@300&display=swap');

.like-home {
    display: flex;
    height: 86.5vh;
    width: 100%;
    background-color: #282851;
    overflow-y: scroll;
}

.like-home .like-judul-album {
    height: 87vh;
    width: 83%;
    flex-wrap: wrap;
    
}

.like-home .like-judul-album .like-album {
    display: flex;
    border: 0px solid #4a4a54;
}

.like-home .like-judul-album .album-img {
    height: 30vh;
    width: 30vh;
    margin: 2rem;
}

.like-home .like-judul-album h1 {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #ffff;
    margin: 65px 257px;
    position: absolute;
    /* border: 1px solid #ffff; */
}

.like-home .like-judul-album p {
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #f3f3f6;
    margin: 90px 100px 90px 10px;
    /* border: 1px solid #ffff; */
}

.like-home .like-judul-album .like-album .buttons {
    display: flex;
    position: absolute;
    margin: 180px 255px;
}

.like-home .buttons button {
    font-family: 'Montserrat', sans-serif;
    width: 130px;
    height: 30px;
    border: 1px solid #ffff;
    outline: none;
    border-radius: 20px;
    background: hsl(240, 7%, 37%);
    color: #ffff;
    cursor: pointer;
    transition: .3s linear;
}

.like-home .buttons button:hover {
    border: 2px solid #ffff;
    background: none;
    color: #bbbbe9;
}

.like-home .like-album-2 {
    width: 70%;
    height: auto;
    /* border: 1px solid #ffff; */
    margin: 225px 220px;
    position: absolute;
}

.like-home .like-album-2 .h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffff;
}

.like-home .like-album-2 .table-like-album {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 25px;
    margin-top: 5px;
    display: flex;
    gap: 1rem;
    /* overflow-y: scroll; */
    color: white;
}
.like-home .like-album-2 .table-like-album tr {
    margin-bottom: 10px;
}
.like-home .like-album-2 .table-like-album tr td {
    padding: 18px 75px 10px 10px;
    /* border: 1px solid black; */
}

.like-home .like-album-2 .table-like-album table tr td .iconlike {
    height: 15px;
    width: 18px;
}


.like-home .like-album-2 .album .sub {
    background-color: rgb(31, 23, 46);
    height: 12rem;
    width: 9rem;
    border-radius: 10px;
}
  
.like-home .like-album-2 .album .sub .img{
    border-radius: 25px;
    padding: 1rem;
    height: 7rem;
    width: 7rem;
}

.like-home .like-album-2 .album .sub .putar{
    margin-top: -2rem;
    height: 3rem;
    text-align: center;
}

.like-home .like-album-2 .album .sub .putar h4{
    margin-top: 1.5rem;
    font-size: medium;
    color: #fff;
}
 
.like-home .like-album-2 .album .sub .putar h4 a{
    color: #fff;
    text-decoration: none;
}
  
.like-home .like-album-2 .album .sub .putar p{
    margin-top: 5px;
    font-size: small;
    color: #fff;
}

footer {
    margin-top: 100px;
    
}