* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* .loginlagi {
 
  display: flex;
  background-image: url("../../assets//backgrn//wallpaperflare.com_wallpaper.jpg");
  

  background-color: black;
  background: linear-gradient(#1130df, #5555);
}


.loginlagi .login-kanan {

  background-color: rgb(2, 11, 30);
  background: linear-gradient(#04042f,#02023c);
  opacity: 0.9;
  width: 50%;

  height: 100vh;
  
}
.loginlagi .login-kiri {
  width: 50%;
  

}
Kanan 
.forn-container {
  color: rgb(255, 255, 255);
  width: 380px;
  background-color: rgb(33, 28, 93);
  flex-direction: column;
  border-radius: 10px;
  display: flex;
  margin-top: 5rem;
  margin-left: 9rem;
  
  gap: 20px;
  padding: 30px 20px;
  text-align: center;
}
.name {
  display: flex;
  justify-content: space-between;
}
.name input {
  width: 50%;
}
input {
  padding: 8px 14px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin: 1rem;
}
input[type="checkbox"] {
  accent-color: rgba(5, 211, 183);
  width: 15px;
  height: 15px;
}
.trems {
  display: flex;
  justify-content: center;
  gap: 6px;
  align-items: center;
}
.trems a {
  color: rgb(5, 211, 183);
}
button {
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  background-color: rgb(5, 211, 183);
  color: rgba(0, 0, 0, 0.699);
  cursor: pointer;
  font-size: 15px;
}
button:hover {
  background-color: rgb(3, 149, 129);
}

button:active {
  background-color: rgb(45, 241, 215);
}

.login-kiri{
  opacity: 0.7;
  background: linear-gradient(#04042f,#02023c);

  background: linear-gradient(#030321,#040411,#030215);
}
.login-kiri ul{
margin-top: 1rem;
margin-left: 3rem;
  text-decoration: none;
}
.login-kiri li{
  color: aquamarine;
  list-style: none ;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 65px;  
}
.login-kiri li span{
 color: aliceblue;
  font-size: 50px;
  margin-left: -1rem;
}
.abjad1{
  padding: 1rem;
  margin-left: 4rem;
}
.abjad4{
color: #78789c;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 60px;
margin-left: 2rem;
}
.grad{
  background-color: rgba(7, 4, 37, 0.5);
  border-radius: 15px;

  box-shadow: 0 0 5px 4px #061849;
  height: 70vh;
}
.slidegambar{
  display: flex;
  height: 50.5vh;
  width: 100%;

  overflow-y:hidden;
 
 background: black;
  border: 2px solid #0e1162;
  
}

.slideimg{
  margin-top: 2rem;
 height: 40vh;
 width: 71.6%;
 margin-left: 6rem;
 border: 5px solid #0e1162;
 border-radius: 10px;

}
.scrol{
  display: flex;
}

 */
