/* header{
    background-color: rgb(71, 100, 100);
    width: 30vh;
    height: 86vh;
   /*  border: 1px solid #ffffff; */
    /* display: flex;
    flex-wrap: wrap;
}  */
.sidebar{
    background-color: rgb(18, 10, 23);
    height: 87vh;
    width: 35vh;
    
}

.sidebar ul {
    margin: 2rem;
    text-decoration: none;
    margin-top: 3rem;
}
  
.sidebar li  {
width: 20vh;
text-decoration: none;
display: block;
font-size: 14px;
padding-bottom: 30px;
font-family: Arial, Helvetica, sans-serif;
cursor: pointer;
transition: .3s linear;
}  
.sidebar li a{
    text-decoration: none;
    padding: 1rem;
    font-size: larger;
    color: rgb(175, 159, 200);
}
.sidebar li a:hover {
    color: rgb(5, 99, 181);
} 