
.sidebar{
    background-color: rgb(18, 10, 23);
    height: 86.5vh;

}

.sidebar ul {
    margin: 2rem;
    text-decoration: none;
    margin-top: 3rem;
}
.sidebar .icn{
    margin-left: 0px;
}
  
.sidebar li  {
width: 20vh;
text-decoration: none;
display: block;
font-size: 14px;
padding-bottom: 30px;
font-family: Arial, Helvetica, sans-serif;
cursor: pointer;
transition: .3s linear;
}  
.sidebar li a{
    text-decoration: none;
    font-size: larger;
    color: rgb(175, 159, 200);
}
.sidebar li a:hover {
    color: rgb(5, 99, 181);
} 